//colors
$main: #ec136a;
$secondary: #ff9933;
$deepblue: #00004d;
$lightMain: #ffe6cc;

//sizes
$tablet: 764px;
$desktop: 1024px;

//effects

$boxShadowLarge: 6px 6px 12px 6px rgba(0,0,0,0.2), 6px 6px 18px 6px rgba(0,0,0,0.19);
$boxShadowSmall: 3px 3px 6px 3px rgba(0,0,0,0.2), 3px 3px 12px 3px rgba(0,0,0,0.19);